# Segmenting and Clustering Neighborhoods in Toronto II

#### Step 1. Import libraries.

In [22]:
from pandas.io.html import read_html as pdhtml
import pandas as pd

#### Step 2. Import and clean dataset

In [43]:
page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfhtml = pdhtml(page, index_col=None, header=0, attrs={"class":"wikitable"})
df = dfhtml[0]
df = df.drop(df[df.Borough == 'Not assigned'].index)
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.at[85, 'Neighbourhood'] = 'Queen\'s Park'
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

#### Step 3. Add Latitude and Longitude within above dataset .

In [46]:
df_geodata = pd.read_csv('https://cocl.us/Geospatial_data')
df_geodata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [47]:
for indice_fila, fila in df.iterrows():
    for indice_fila2, fila2 in df_geodata.iterrows():
        if fila2['Postal Code'] == fila['Postcode']:
            df.at[indice_fila,'Latitude'] = fila2['Latitude']
            df.at[indice_fila,'Longitude'] = fila2['Longitude']

In [48]:
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476